
.auth__main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/auth-backImage.svg');
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    .auth__box-container{
        background-color: white;
        border-radius: 2px;
        box-shadow: 6px 6px 22px 6px rgba(0,0,0,0.45);
        -webkit-box-shadow: 6px 6px 22px 6px rgba(0,0,0,0.45);
        -moz-box-shadow: 6px 6px 22px 6px rgba(0,0,0,0.45);
        padding: 2.1rem;
        margin: 0 0.2rem 
          
    }
    .auth__title{
        color: darken($color: $primary, $amount: 20);
        margin-bottom: 10px;
    }
    .auth__input{
        color: $dark-grey;
        border: 0px;
        border-bottom: 1px solid $light-grey;
        font-size: 1rem;
        margin-bottom: 10px;
        height: 20px;
        width: 100%;

        transition: border_bottom .4s ease;

        &:focus{
            border-bottom: 1px solid $primary;
            outline: none;
        }
         
    }
    .auth__social-networks{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px 0; 
        width: 100%;
    }
    .auth__alert-error{
        background-color: #EC255A;
        border-radius: 5px;
        color: #F6F6F6;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 5px;
    }
    
    
}