
.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    @media (max-width:768px) {
        margin-top: 15px;
    }
    .notes__appbar{
        align-items: center;
        background-color: $dark-grey;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        width: 100%;   

    }

    .notes__content{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        
        .notes__title-input, .notes__textarea{
            border: none;

            &:focus{
                outline: none;
            }
        }
        .notes__title-input{
            color: $dark-grey;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .notes__textarea{
            border: none;
            color: $dark-grey;
            font-size: 1.3rem;
            flex: 1 1 auto;
            resize: none;
        }

        .notes__image img{
            box-shadow: 6px 6px 22px 6px rgba(0,0,0,0.45);
            -webkit-box-shadow: 6px 6px 22px 6px rgba(0,0,0,0.45);
            -moz-box-shadow: 6px 6px 22px 6px rgba(0,0,0,0.45);
            height: 150px;
        }
        

    }

}