.nothing__main-content{
    align-items: center;
    background-color: $primary;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    p{
        text-align: center;
    }

}